.yo{
  height: 200px;
  width: 200px;
  border: 1px solid #000;
}


body{
  background: #fff;
  font-family: Helvetica;

}

header{
  background: #fff;
  display: block;
  width: 100%;
  z-index: 2;
  position: fixed;
  max-height: 150px;
}


.container{
  display: block;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 970px;
  margin: 0 auto;
  text-align: center;
}

.container-left{
  width:40%;
  background-color: #e2e2e2;
  display: flex;
}

.container-right{
  width: 60%;
  display: flex;
  background-color: #c6c6c6
}

ul .menu {
  display: block;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
    padding: 0;

}

li {
  display: inline;
  margin-right: 25px;
}

#home{
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  background-color: blue;
  min-height: 100vh;

}

#blog{
  display: flex;
  flex-direction: row;
}
