.yo{
  height: 200px;
  width: 200px;
  border: 1px solid #000;
}


body{
  background: #fff;
  font-family: Helvetica;

}

header{
  background: #fff;
  display: block;
  width: 100%;
  z-index: 2;
  position: fixed;
  max-height: 150px;
}

h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  color: #fff;
}


p.subtitle{
  font-size: 20px;
  color: #fff;
}

header .container{
  padding-top: 20px;
  padding-bottom: 20px;
}

.container{
  display: block;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 970px;
  margin: 0 auto;
  text-align: center;
}

.container-left{
  width:40%;
  background-color: #e2e2e2;
  display: flex;
}

.container-right{
  width: 60%;
  display: flex;
  background-color: #c6c6c6
}

ul .menu {
  display: block;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
    padding: 0;

}

li {
  display: inline;
  margin-right: 25px;
}

.button-1{
  background: #7cc576;
  border-radius: 90px;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  text-align: center;
}

.button-1 a {
  color: #fff;
  font: 16px;
  line-height: 20px;
}


#home{
  display: flex;
  flex-direction: column;
  background: url(../images/bg_title.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  margin-top: 50px;

}

#home .container{
  margin-top: 200px;
}

#blog{
  display: flex;
  flex-direction: row;
}
