.yo{
  height: 200px;
  width: 200px;
  border: 1px solid #000;
}

.about_holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.portfolio_holder{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about_1, .about_2, .about_3 {
margin: 15px;
  width: 25%;

}



body{
  background: #fff;
  font-family: Helvetica;

}

header{
  background: #fff;
  display: block;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
}

header.large{
  height: 100px;
}

header.small{
height: 50px;
}

h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  color: #000;
}

h2{
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

h3{
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  color: #000;
}

#home h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  color: #fff;
}


p.subtitle{
  font-size: 20px;
  color: #fff;
}

p.subtitle_dark{
  font-size: 20px;
  color: #777;
}

p.about_paragr{
  font-size: 14px;
  color: #777;
  padding: 20px;
  padding-top: 0px;
}

p.porfolio_paragr{
  padding:0px;
}


h3.about_heading_1:before{
  content:'';
width: 55px;
height: 52px;
background-image: url(../images/icon_heart.png);
position: relative;
display: block;
margin: 0 auto;
margin-bottom: 15px;
}

h3.about_heading_2::before{
  content:'';
width: 55px;
height: 52px;
background-image: url(../images/icon_phone.png);
position: relative;
display: block;
margin: 0 auto;
margin-bottom: 15px;
}

h3.about_heading_3::before{
  content:'';
width: 55px;
height: 52px;
background-image: url(../images/icon_marketing.png);
position: relative;
display: block;
margin: 0 auto;
margin-bottom: 15px;
}


h3.porfolio_heading_1:before{
  content:'';
width: 55px;
height: 52px;
background-image: url(../images/2_icon_e_commerance.png);
background-size: contain;
background-repeat: no-repeat;
position: relative;
display: inline-block;
margin: 0 auto;
}

h3.porfolio_heading_2:before{
  content:'';
width: 55px;
height: 52px;
background-image: url(../images/2_icon_secure.png);
background-size: contain;
background-repeat: no-repeat;
position: relative;
display: inline-block;
margin: 0 auto;
}

h3.porfolio_heading_3:before{
  content:'';
width: 55px;
height: 52px;
background-image: url(../images/2_icon_seo.png);
background-size: contain;
background-repeat: no-repeat;
position: relative;
display: inline-block;
margin: 0 auto;
}

header.large .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

header.small .container  {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.container{
  display: block;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 970px;
  margin: 0 auto;
  text-align: center;

}

.container-left{
  width:40%;
  background-color: #e2e2e2;
  background-image: url(../images/gear.png);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
}

.container-right{
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: #c6c6c6;
  background-image: url(../images/bg_learn_more.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 80px;
  padding-bottom: 20px;
}

.container-right h2 {
  color: #fff;
}

ul .menu {
  display: block;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
    padding: 0;

}

li {
  display: inline;
  margin-right: 25px;
}

ul.blog_list{
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.blog_list li {
  display: block;
  color: #ccc;
  font-size:18px;
  margin-bottom: 20px;
}

li.blog_list_li:before{
content: url(../images/checkmark.png);
margin-right: 10px;
vertical-align:-41%;
}


p.right_paragr_sub{
  color: #ccc;
  max-width: 70%;
}


.button-1{
  background-color: #7cc576;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20pc;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 90px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: all 1s ease 0s
}

.button-1:hover{
  background-color: #fff;
  color: #000;
}


#home{
  display: flex;
  flex-direction: column;
  background: url(../images/bg_title.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;


}

#home .container{
  padding-top: 150px;
  max-height: 50%;
}



#blog{
  display: flex;
  flex-direction: row;

}

#portfolio{
  display: flex;
  flex-direction: row;
  background-image: url(../images/phone.png);
  background-position: right;
  background-repeat: no-repeat;
}

#portfolio .container{
  text-align: left;
}
